/*=========================
 PERSONAL TRAINING HERO
=========================*/

.pt-hero {

  height: 75vh;

  background:

    linear-gradient(rgba(0, 0, 0, .70),
      rgba(0, 0, 0, .70)),

    url("https://images.unsplash.com/photo-1583454110551-21f2fa2afe61");

  background-size: cover;

  background-position: center;

  display: flex;

  justify-content: center;

  align-items: center;

}

.pt-hero h1 {

  color: white;

  font-size: 72px;

  font-weight: 800;

}

.pt-hero p {

  color: #ddd;

  font-size: 24px;

  margin-top: 20px;

}

.about-training {

  background: #111;

}

.about-training h2 {

  color: white;

  font-size: 42px;
  padding-left: 1cm;

  margin-bottom: 25px;
  align-items: left;

}

.about-training p {

  color: #bbb;

  line-height: 2.0;

  font-size: 20px;

  padding-left: 1cm;

}

.Button {
  padding-left: 1cm;
}



.benefits {

  background: #0d0d0d;

}

.benefit-card {

  background: #1c1c1c;

  padding: 35px;

  border-radius: 20px;

  text-align: center;

  transition: .4s;

  height: 100%;

}

.benefit-card:hover {

  transform: translateY(-10px);

  box-shadow: 0 20px 40px rgba(220, 53, 69, .30);

}

.text-center {
  color: #dc3545;
}

.benefit-card i {

  font-size: 48px;

  color: #dc3545;

  margin-bottom: 20px;

}

.benefit-card h4 {

  color: white;

}

.benefit-card p {

  color: #bbb;

}


.benefit-card i {
  font-size: 55px;
  color: #dc3545;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}

.benefit-card:hover i {
  transform: scale(1.15) rotate(-8deg);
}