#preloader {
  position: fixed;
  inset: 0;
  background: #0d0d0d;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
  opacity: 1;
  visibility: visible;
  transition: opacity .8s ease, visibility .8s ease;
}

.loader-content {
  text-align: center;
  max-width: 320px;
  width: 90%;
}

.loader-logo {
  width: 90px;
  max-width: 25vw;
  animation: logoFloat 2s ease-in-out infinite;
}

.loader-content h1 {
  color: white;
  margin-top: 15px;
  font-size: 34px;
  letter-spacing: 3px;
  font-weight: 700;
}

.loader-content p {
  color: #bdbdbd;
  margin-top: 5px;
  margin-bottom: 30px;
}

.progress-box {
  width: min(260px, 85vw);
  height: 6px;
  background: #2d2d2d;
  border-radius: 20px;
  overflow: hidden;
  margin: auto;
}

.progress-bar {
  width: 0%;
  height: 100%;
  background: #dc3545;
  animation: loading 2s ease forwards;
}

.loader-content span {
  display: block;
  color: #888;
  margin-top: 15px;
  letter-spacing: 2px;
  font-size: 14px;
}

@keyframes loading {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

@keyframes logoFloat {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

}

.loader-hide {
  opacity: 0;
  visibility: hidden;
}